* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
#Presentatie
{
position: absolute;
left: 11%;
bottom: 70%;
width: 20%;
font:caption;
color: blue;
font-size: x-large;
}
#PresentatieParagraaf {
  position: absolute; 
  left: 11%; 
  bottom: 45%; 
  width: 25%;
  color: black;
  font-size: small;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px; 
}

#Presentatie2
{
position: absolute;
left: 50%;
bottom: 60%;
width: 20%;
font:caption;
color: blue;
font-size: x-large;
}


#PresentatieParagraaf2 {
  position: absolute; 
  left: 50%; 
  bottom: 45%; 
  width: 25%;
  color: black;
  font-size: small;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px; 

}


#Presentatie3
{
position: absolute;
left: 45%;
bottom: 25%;
width: 20%;
font:caption;
color: blue;
font-size: x-large;
}


#PresentatieParagraaf3 {
  position: absolute; 
  left: 45%; 
  bottom: 15%; 
  width: 25%;
  color: black;
  font-size: small;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}